{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Définir un nouveau mot de passe{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Définir un nouveau mot de passe</h3>
                </div>
                <div class="card-body">
                    {% if validlink %}
                        <p class="text-muted text-center">Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }} {# Affiche les champs 'new_password1', 'new_password2' #}
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary mt-3">Changer le mot de passe</button>
                            </div>
                        </form>
                    {% else %}
                        <p class="text-danger text-center">Le lien de réinitialisation de mot de passe était invalide, peut-être parce qu'il a déjà été utilisé.</p>
                        <p class="text-center">Veuillez demander une nouvelle réinitialisation de mot de passe.</p>
                        <div class="text-center">
                            <a href="{% url 'accounts:password_reset' %}" class="btn btn-primary mt-3">Demander une nouvelle réinitialisation</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}