{# accounts/templates/accounts/password_reset_email.html #}
Bonjour,

Vous recevez cet e-mail car vous (ou quelqu'un d'autre) avez demandé la réinitialisation du mot de passe pour votre compte sur Shopy Five.

Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe :

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Si vous n'avez pas demandé de réinitialisation de mot de passe, vous pouvez ignorer cet e-mail en toute sécurité. Votre mot de passe ne sera pas modifié.

L'équipe Shopy Five