{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Réinitialiser votre mot de passe</h3>
                </div>
                <div class="card-body">
                    <p class="text-muted text-center">Entrez votre adresse e-mail ci-dessous et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }} {# Affiche le champ 'email' #}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary mt-3">Envoyer le lien de réinitialisation</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}