{% extends 'accounts/base.html' %}

{% block title %}Réinitialisation terminée{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center text-success">Votre mot de passe a été réinitialisé !</h3>
                </div>
                <div class="card-body text-center">
                    <p>Votre mot de passe a été défini. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
                    <a href="{% url 'accounts:login' %}" class="btn btn-primary mt-3">Se connecter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}